<div class="pensamento {{pensamento.conteudo}} .ff-roboto-mono"[ngClass]="larguraPensamento()">
  <img src="/assets/imagens-angular/{{pensamento.modelo}}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens-angular/icone-editar.png" alt="Icone de editar">
    </button>
    <button class="botao-editar">
      <img src="/assets/imagens-angular/icone-excluir.png" alt="Icone de excluir">
    </button>
  </div>
</div>
