<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br> pensamento novo:</h2>
  </header>
  <form>

    <label for="pensamento"></label>
    <input type="textarea" class="input" name="pensamento" id="pensamento" placeholder="Digite o pensamento ....">

    <label for="Autoria ou Fonte"></label>
    <input type="textarea" class="input" name="pensamento" id="pensamento" placeholder="Digite a autoria ou fonte....">

    <label for="modelo">Seleciona o modelo do card:</label>

    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modleo1">
            <input type="radio" id="modleo1" value="modelo1" name="modelo-card">

            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 1</span>
        </label>
        previa:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens-angular/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">Aqui vai o conteudo</p>
          <p class="conteudo">Aqui vai o conteudo</p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modleo2">
            <input type="radio" id="modleo2" value="modelo2" name="modelo-card">

            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 2</span>
        </label>
        previa:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens-angular/modelo2.png" alt="Aspas azuis">
          <p class="conteudo">Aqui vai o conteudo</p>
          <p class="conteudo">Aqui vai o conteudo</p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modleo3">
            <input type="radio" id="modleo3" value="modelo3" name="modelo-card">

            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 3</span>
        </label>
        previa:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens-angular/modelo3.png" alt="Aspas azuis">
          <p class="conteudo">Aqui vai o conteudo</p>
          <p class="conteudo">Aqui vai o conteudo</p>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button class="botao">Salvar</button>
      <button class="botao">Cancelar</button>
    </div>

  </form>


</section>
